.about-me-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  letter-spacing: 0.04em;
}

.about-text {
  max-width: 60rem;
  width: 100%;

  p {
    margin: 0;
    line-height: 250%;
    font-size: 1rem;
  }
}

.about-img {
  overflow: hidden;
  display: inline-block;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: clip-path 1.3s ease-in;

  img {
    max-width: 30rem;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .about-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .about-text {
    p {
      font-size: 1.7rem;
    }
  }
}
